<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css')}}">
    <title>Charlie's Book Search</title>
</head>
<body>
    <header>
        <div class="container">
            <p><a href="{{ url_for('search_page.search') }}">Charlie's Book Search</a></p>
            <ul>
                <li><a href="{{ url_for('profile_page.logout') }}">Log out</a></li>
            </ul>
        </div>
        <div class="drop-fade"></div>
    </header>
    <section class="main">
        {% block body %}
        {% endblock %}
    </section>
</body>
</html>